{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<header>
  <!-- NAVBAR SECTION-->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link " href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/story1">First</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/index">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/story5">Schedule</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/more">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/story6">Activity</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/story9">User</a>
  </li>
</ul>

</header>
  {% block content %}
  
  {% endblock content %}
  <footer> 
    <div class="container">
      <div class="row">
        <div class="col-sm-3" id="center">
          <a href="http://linkedin.com/in/alinadhifan" target="_blank">
            <img src="static/css/img/linkedin.png" style="width:50px; height:50px"  alt="linkedin" id="center"></a>
                     </div>
        <div class="col-sm-3" id="center">
          <a href="https://www.instagram.com/alinadhifan/" target="_blank">
            <img src="static/css/img/ig.png" style="width:50px; height:50px"  alt="instagram" id="center"></a>
           
        </div>
      </div>
    </div>
  </footer> 
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
