body {
    margin: 0px;
}





.main-login {
    width: 100vw;
    display: block;
    flex-direction: row;
    overflow: hidden;

}

.content-section {
    background-color: #ffe866;
    width: 62vw;
    position: fixed;
    right: 0px;
    top: 0px;
}

.login-header {
    margin-bottom: 20px;
}


.login-section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 60px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.input-label {
    font-weight: 500;
    text-align: center;
}

.label-group {
    margin-top: 14px;
    margin-bottom: 14px;
    justify-items: left;
}

.input {
    padding: 10px;
    display: flex;
    border-width: 4px;
    width: 100%;
    font-weight: 700;
    color: gray;
}

.label-group:focus-within .input-label {
    font-weight: 700;
}

.input-group {
    border-radius: 2px;
    border-width: 0px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    transition: all 0.15s;
}

.input-icon {
    height: 17px;
}

.main-button {
    margin-top: 10px;
    width: 150%;
    background-color: #474e5d;
    color: white;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.main-button:hover {
    /* background-color: RGB(180, 130, 150); */
    background-color: #f2a07b;
}

.hand {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
}

.create-new {
    color: gray;
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
}

.auth-section {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 400px;
    /*align-items: center;*/
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.error-message {
    color: red;
    font-weight: 700;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    display: none;
}

.success-message {
    color: green;
    font-weight: 700;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(234, 255, 234);
    border-radius: 10px;
    display: none;
}

.homepage {
    width: 50vw;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    font-weight: 700;
}

.homepage-subtitle {
    font-size: 36px;
}

.logout-button {
    font-size: 25px;
    padding-right: 25px;
   
}

.homepage a {
    text-decoration: none;
}

.loading-hide {
    display: none !important;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 3px;
    border: 4px solid black;
    border-radius: 80%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.password-strength {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.password-strength-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    color: red;
}

.password-strength-item.base {
    color: black;
}

.password-strength-item.valid {
    color: green;
}

.password-strength-icon {
    color: green;
    display: none;
    margin-right: 5px;
}

.password-strength-item.valid .password-strength-icon {
    display: inline-block;
}



/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #F2EDEB;
}

h2 {
  padding-top: 3%;
  text-align: center;
  color: #928888;
}

#h3-1 {
  padding: 5%;
  text-align: center;
  color: #928888;
  font-family: 'Rubik', sans-serif;
}

h3 {
  padding: 15%;
  text-align: right;
  color: #928888;
  font-family:'Courier New', Courier, monospace;
 }

h4 {
  padding: 3%;
  text-align: center;
}
h6 {
  padding-top: 3%;
  text-align: center;
  color: #928888;
}
h5 {
  padding-top: 3%;
  text-align: center;

}
#light {
  color: #FFFFFF;
  text-align: center;
}
.justify-content-center {
background-color: #F2EDEB;
}
.nav-link {
  color:   #928888;
}
.container-fluid {
 height: 100%;
}

footer {
background-color: #9E7977;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
}
#center {
display: block;
margin-left: auto;
margin-right: auto;
}

#bton2 {
  padding-top: 5%;
  text-align: center;
  margin-top: 0;
}

#alinpic {
  width: 27%;
  height: 27%;
  border-radius: 50%;
  border: 10px solid #F2EDEB;
}
#school {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  border: 10px solid #FFFFFF;
}

#Interests {
  width: 75%;
  height: 100%;
}


#sec1 {
  width: 100%;
  height: max-content;
  background-color: #F2EDEB ;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; 
}
#sec2 {
  background-color: #C39896;
  height: max-content;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; 
}
#sec3 {
  padding-bottom: 10%;
  height: max-content;
  background-color: #F2EDEB;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; 
}
#sec4 {
  padding-bottom: 7%;
  background-color: #C39896;
}
.col-sm-3 {
 height: fit-content;
  padding-top: 3%;
  padding-bottom: 3%;
}

button {
  background-color:  #C39896;
  border: none;
  color: white;
  border-radius: 12px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#buttonsec {
  padding: 3%;
}

/* MORE ABOUT ME */


#more {
  width: 80%;
  height: 80%;
  border-radius: 15%;
}

#pink {
  color: #928888;
}


#Matkul {
  margin-left: 10%;
  margin-right: 10%;
}

#DMatkul {
  margin: 50px;
}
#jfont {
  text-align: center;
  font-family: "Playfair Display";
  margin-top: 30px;
  margin-bottom: 0;
}

#bton2 {
  text-align: center;
}

#delbut {
  padding: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#bu {
  background-color:  #C39896;
  border: none;
  color: white;
  border-radius: 12px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
#lihat_jadwal {
  margin: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

        