{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block css %}
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}" type="text/css">
    {% endblock css %}  


    <title>Welcome Page</title>

  </head>
  <body>
    
    {% block content %}
<!-- WELCOME SECTION-->
    <div class="container-fluid" id="sec1">
          <h3>
          <br>
            Grateful for small things, <br>
            big things, <br>
            and everything in between, <br>
            everyday. <br>
          </h3>
    
    </div>

<!-- ABOUT ME SECTION-->
      <div class="container-fluid" id="sec2">
        <h4 id="light">About Me</h4>
        <img src="static/css/img/alin.jpg" alt="alin" class="center" id="alinpic">
        <div id="light">
          <p><br>I’m Alin an Information System undergraduate at</p>
          <p>Universitas Indonesia.</p>
          <p>I am experienced the field of operation, event, and</p>
          <p>marketing. Still looking for my best skills and exploring the</p>
          <p>world of computer science.</p>
        </div>
      
    </div>

  <!-- EDUCATIONS SECTION-->
      <div class="container-fluid" id="sec3">
        <h4 style="color: #C39896;">Educations</h4>
        <p></p>
         <div class="row">
            <div class="col-sm-3" id="center">
              <img src="static/css/img/labs.jpg" alt="labschool" class="center" id="school">
              <h6> SMA Labschool Cibubur</h6>
            </div>
            <div class="col-sm-3" id="center">
              <img src="static/css/img/ui.jpg" alt="ui" class="center" id="school">
              <h6> Universitas Indonesia</h6>
            </div>
          </div>
    </div>
  
  <!-- INTERESTS SECTION-->
  <div class="container-fluid" id="sec4">
    <h4 style="color: #FFFFFF;">Interests</h4>
    <p></p>
     <div class="row">
        <div class="col-sm-3" id="center">
          <img src="static/css/img/7.png" alt="labschool" class="center" id="Interests">
   
        </div>
        <div class="col-sm-3" id="center">
          <img src="static/css/img/8.png" alt="ui" class="center" id="Interests">

        </div>
        <div class="col-sm-3" id="center">
          <img src="static/css/img/11.png" alt="ui" class="center" id="Interests">
        </div>
      </div>
</div>
    

   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock content %}
  </body>
</html>