{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block css %}
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}" type="text/css">
    {% endblock css %} 

    <title>More About Me</title>
  </head>
  <body>
    {% block content %}


<!-- SKILLS SECTION-->
<div class="container-fluid" id="sec3">
  <h4 style="color: #C39896;">Skills</h4>
  <p></p>
   <div class="row">
      <div class="col-sm-3" id="center">
        <img src="static/css/img/java.jpg" alt="java" class="center" id="more">
        <h5 id="pink"> Java Programming Language </h5>
      </div>
      <div class="col-sm-3" id="center">
        <img src="static/css/img/canva.jpg" alt="canva" class="center" id="more">
        <h5 id="pink">Canva</h5>
      </div>
      <div class="col-sm-3" id="center">
        <img src="static/css/img/python.jpg" alt="python" class="center" id="more">
        <h5 id="pink">Python Programming Language </h5s>
      </div>
    </div>
</div>

<div class="container-fluid" id="sec3" style="background-color: #C39896;">
  <h4 id="light">Experience</h4>
  <p></p>
   <div class="row" id="light">
      <div class="col-sm-3" id="center">
        <img src="static/css/img/fuki.jpg" alt="Fuki" class="center" id="more" >
        <h6 style=" color: #FFFFFF;">Staff of muslimah Center</h6>
        <h5>FUKI</h5>
      </div>
      <div class="col-sm-3" id="center">
        <img src="static/css/img/compfest.jpg" alt="Compfest" class="center" id="more">
        <h6 style=" color: #FFFFFF;">Staff of Digital Marketing</h6>
        <h5>Compfest</h5>
      </div>
      <div class="col-sm-3"  id="center">
        <img src="static/css/img/edison.jpg" alt="Edison" class="center" id="more">
        <h6 style=" color: #FFFFFF;"> Operation Associate</h6>
        <h5>Edison League</h5>
      </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock content %}
  </body>
</html>