{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'story9.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="{% static 'story9.js' %}"></script>
    <title>Login</title>
</head>

<body>


    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
<div class="main-login">
    <div class="login-section">
        <div id="logIn" class="auth-section">
            <h1 class="login-header">Login</h1>
            <div class="error-message"></div>
            <div class="success-message"></div>
            <div class="label-group">
                <label class="input-label">Username</label>
                <div class="input-group">
                    <input type="text"  class="input" name="username" autocomplete="off">
                </div>
            </div>
            <div class="label-group">
                <label class="input-label">Password</label>
                <div class="input-group">
                    <input type="password"  class="input" name="password">
                </div>
            </div>
            <button class="main-button" id="logInButton">
                <div class="lds-ring loading-hide">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="button-inner">Log In</div>
            </button>
            <button class="main-button" id="createAccountLink">Create new account</button>
        </div>
        <div id="signUp" class="auth-section hide">
            <h1 class="login-header">Create new account</h1>
            <div class="error-message"></div>
            <div class="success-message"></div>
            <div class="label-group">
                <label class="input-label">Username</label>
                <div class="input-group">
                    <input type="text" class="input" name="s_username"
                           autocomplete="off">
                </div>
            </div>
            <div class="label-group">
                <label class="input-label">Email</label>
                <div class="input-group">
                    <input type="email" class="input" name="s_email">
                </div>
            </div>
            <div class="label-group">
                <label class="input-label">Password</label>
                <div class="input-group">
                    <input type="password" class="input" name="s_password">
                </div>
            </div>
            <button class="main-button" id="signUpButton">
                <div class="lds-ring loading-hide">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="button-inner">Sign Up</div>
            </button>
            <button class="main-button" id="loginLink">Log in</button>
        </div>
    </div>
</div>

</body>
</html>
